
div.cont
  input(type= 'text', placeholder= 'input data please')
  h1.my-test-title My new title
  span.my-class.title= title
  ul.list
    each item in items
      li
        a(href=item.href)= item.text